{% load static %}

{% comment %} js archivos {% endcomment %}


<script src='{% static "/js/core/jquery.min.js" %}'></script>
<script src='{% static "/js/core/popper.min.js" %}'></script>
<script src='{% static "/js/core/bootstrap.min.js" %}'></script>
<script src='{% static "/js/plugins/perfect-scrollbar.jquery.min.js" %}'></script>



<script src='{% static "/js/plugins/chartjs.min.js" %}'></script>

<script src='{% static "/js/plugins/bootstrap-notify.js" %}'></script>

<script src='{% static "/js/black-dashboard.min.js" %}'></script>


<script src='{% static "/js/themeSettings.js" %}'></script>




<script src="{% static 'js/funciones.js' %}?id={{ csrf_token }}"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11" ></script>


