
    <div class="sidebar">
        
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    <i class="tim-icons icon-single-02"></i>
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    <div>
                        <span>{{ user.first_name}}</span>
                    </div>
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'Ssh' in segment %} active {% endif %} ">
                    <a href="{% url 'connect-ssh' %}">
                        <i class="bi bi-diagram-3-fill"></i>
                        <p>Conexion SSH</p>
                    </a>
                </li>
                                
                <li class="{% if 'Monitor' in segment %} active {% endif %} ">
                    <a href="">
                        <i class="bi bi-gear"></i>
                        <p>Administracion VPN</p>
                    </a>
                </li>                
                <li>
                    <a href="">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Cerrar sesion</p>
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
