
    <div class="sidebar">
        
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    <i class="tim-icons icon-single-02"></i>
                </a>
                <a href="javascript:void(0)" class="simple-text logo-normal">
                    <div>
                        <span>{{ user.first_name}}</span>
                    </div>
                </a>
            </div>
            <ul class="nav">
                <li class="{% if 'Planificacion' in segment %} active {% endif %} ">
                    <a href="">
                        <i class="bi bi-person-circle"></i>
                        <p>Mi Perfil</p>
                    </a>
                </li>                
                <li class="{% if 'Planificacion' in segment %} active {% endif %} ">
                    <a href="">
                        <i class="bi bi-file-earmark-plus"></i>
                        <p>Planificación</p>
                    </a>
                </li>                
                <li>
                    <a href="">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Cerrar sesion</p>
                    </a>
                </li>
            </ul>
            
        </div>
    </div>
