{% extends "layouts/base.html" %}

{% block title %} Monitor VPN {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load utilidades %}


<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Estado de Conexiones SSH</h5>
            <p class="category">Mis Conexiones VPN server<a ></a></p>              
               </div>        
                  <div class="card-body">
                    <div class="container-fluid mt-1">
                      
                      <table class="table" >
                        <thead>
                            <tr>
                                
                                <th>Nombre</th>                                      
                                <th>Peer</th>                                      
                                <th>Endpoint</th>                                      
                                <th>Transferencia</th>                                      
                                <th>Handshake</th>                                      
                                <th >Direccion IP</th>
                            </tr>
                        </thead>
                        <tbody> 
                          {% for p in peer %}                                                  
                                <tr>
                                    
                                    <td>{{ p.nombre }}</td>                                    
                                    <td>{{ p.publicKey }}</td>                                    
                                    <td>{{ p.endpoint }}</td>                                    
                                    <td>{{ p.transfer }}</td>                                    
                                    <td>{{ p.latest_handshake }}</td>                                    
                                    <td>{{ p.allowedIps }}</td>                                    
                                    
                                </tr>
                                           
                          </div>
                          {% endfor %}              
                      </tbody>                      
                  </table>                                                      
            </div>
        </div>                             
      </div>
    </div>               
  </div>               

                         
{% endblock content %}


{% block javascripts %}{% endblock javascripts %}
