{% extends "app/layouts/base-fullscreen.html" %}

{% block title %} Contacto {% endblock %} 


{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load static %}
    <style>
        body{
            background:  rgba(80, 97, 103, 0.575) url('{% static "img/adminbg.jpg" %}') no-repeat fixed center;
            backdrop-filter: brightness(50%);
        }
    </style>
    <div class="content">
        <div class="container">
            <div class="row pt-5">
                <div class="d-flex justify-content-center">
                    <img src='{% static "img/norepr.png" %}' class="img-fluid opacity-75" alt="logoNR">
                </div>
                <div  class="col-md-6 mt-3 offset-md-3">
                    <div  class="card">
                        <div class="card-header text-center py-4">
                            <h4 class="title">
                                NoRepClass Contacto
                            </h4>

                            <h6 class="card-category">Complete el formulario</h6>
                            
                        </div>

                        <form  role="form" method="post" action="{% url 'contacto' %}">
                                
                            {% csrf_token %}  

                            <div class="card-body px-5 py-1"> 

                                <div class="row">
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Correo electronico</label>
                                            {{ form.email }}                                            
                                        </div>
                                        <span class="text-danger">{{ form.email.errors }}</span>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Asunto</label>
                                            {{ form.asunto }}                                            
                                        </div>
                                        <span class="text-danger">{{ form.asunto.errors }}</span>
                                    </div>
                                    <div class="col-md-12 px-md-1">
                                        <div class="form-group">
                                            <label>Mensaje</label>
                                            {{ form.mensaje }}                                            
                                        </div>
                                        <span class="text-danger">{{ form.mensaje.errors }}</span>
                                    </div>

                                    
                                </div>

                                
                            </div>
                            
                            <div class="card-footer text-center">
                                <button type="submit" name="login" class="btn btn-fill btn-primary">Enviar correo</button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
